body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #46b910;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

header {
  background: #122d8f;
  color: #e4e4e4;
  padding: 15px 0;
  text-align: center;
}

.nav-link {
  transition: color 0.3s ease-in-out;
}

.nav-link:hover {
  color: #ffdd00; 
}

.navbar-custom {
  background-color: #004080;
}



main {
  margin-top: 20px;
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

section {
  margin-bottom: 20px;
}

footer {
  background: #122d8f;
  color: #fff;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 150px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 1rem;
  text-align: center;
  z-index: 2;
}

.logo-inst-eng {
  position: absolute;
  width: 200px;
  left: 20px;
  bottom: 80px;
}

.logo-metro1 {
  position: absolute;
  width: 200px;
  right: 20px;
  bottom: 80px;
}

.logo-imt-branco {
  width: 150px;
}

.logo-matematica-no-metro2 {
  width: 150px;
  height: 150px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  header img {
    width: 100%;
  }
}

.carousel {
  z-index: 1;
  height: 500px; /* Defina a altura desejada para o carousel */
}

.carousel-inner {
  height: 100%; /* Garante que o conteúdo interno ocupe toda a altura do carousel */
}

.carousel-item {
  height: 100%; /* Garante que cada item do carousel ocupe toda a altura do carousel */
}

.carousel-item img {
  height: 100%; /* Ajusta a altura das imagens para ocupar toda a altura do item */
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço disponível */
}

textarea.form-control {
  width: 100%; /* Largura total do contêiner pai */
  max-width: 100%; /* Garante que não ultrapasse a largura do contêiner pai */
  padding: 10px; /* Espaçamento interno */
  border: 1px solid #ccc; /* Borda */
  border-radius: 4px; /* Bordas arredondadas */
  font-size: 16px; /* Tamanho da fonte */
  resize: vertical; /* Permite redimensionar apenas verticalmente */
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* Sombra interna */
}

/* Estilo para o label */
label[for="volunteerMessage"] {
  font-weight: bold; /* Negrito */
  margin-bottom: 5px; /* Espaçamento inferior */
  display: block; /* Exibe como bloco */
}
.card {
  margin-bottom: 20px; /* Espaçamento inferior entre os cards */
}

.card-img-top {
  height: 200px; /* Altura fixa para as imagens */
  object-fit: cover; /* Ajusta a imagem para cobrir o espaço disponível */
}
